@charset "utf-8";

#sec-slide {
    height: 755px;
    min-width: 1280px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
    background-image: url(../img/index/aesop2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#sec-slide .content {
    max-width: 1280px;
    min-width: 800px;
    margin: 0 auto;
    position: absolute;
    left: 144px;
    top: 224px;
}

#sec-slide .content h1 {
    font-size: 60px;
}

#sec-slide .content h1 strong {
    letter-spacing: 6px;
    line-height: 0.8;
    font-size: 100px;
    font-weight: 600;
}

#sec-slide .content p {
    font-size: 18px;
}

.sec-link {
    min-width: 1280px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 105px 16px 120px 16px;
    box-sizing: border-box;
}

.sec-link .content {
    width: 1280px;
    margin: 80px auto 100px auto;
}

.sec-link h2 {
    font-size: 30px;
    letter-spacing: 7px;
    color: #999;
    margin-bottom: 25px;
    font-family: 'Georgia', Georgia, serif;
    font-style: italic;
}

.sec-link p {
    color: #101010;
    font-size: 20px;
}
.sec-link.bg-gray {
    background-color: #eee;
}
.sec-link p em {
    font-weight: 600;
    font-size: 22px;
}

.sec-link .btn {
    display: inline-block;
    line-height: 64px;
    color: #333;
    font-size: 22px;
    border: 1px solid #999;
    border-radius: 32px;
    margin: 0 auto;
}
.sec-link .btn a {
    display: block;
}
.sec-link .btn.goto-business {
    width: 172px;
}
.sec-link .btn.goto-company {
    width: 180px;
}
.sec-link .btn.goto-contact {
    width: 162px;
}
.sec-link .btn a:hover {
    font-weight: 600;
}

.business-ul {
    overflow: hidden;
    margin: 0 auto;
}

.business-ul li {
    position: relative;
    float: left;
    display: inline-block;
    width: 240px;
    height: 240px;
    text-align: left;
    margin: 0 16px 16px 0;
    box-sizing: border-box;
    background-color: black;
}
.business-ul li:first-child {
    width: 496px;
    height: 496px;
}
.business-ul li:nth-child(1),
.business-ul li:nth-child(5),
.business-ul li:nth-child(6),
.business-ul li:nth-child(7) {
    margin-bottom: 0;
}
.business-ul li:nth-child(4),
.business-ul li:nth-child(7) {
    margin-right: 0;
}

.business-ul li:hover .dimmed {
    opacity: 1;
}
.dimmed {
    opacity: 0;
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 18px 20px;
    background-color: rgba(0, 0, 0, 0.9);
}
/*
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
*/
.dimmed .category {
    font-size: 20px;
    color: #999;
}
.dimmed .brand {
    font-size: 28px;
    color: white;
}
.dimmed .descript {
    font-size: 15px;
    color: #eee;
}

.map-img-wrap {
    position: relative;
    width: 900px;
    margin: 120px auto;
}
.map-img-wrap img {
    width: 100%;
}
.circle {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background-color: #FFDC34;
    border: 2px solid #FFC200;
}

.circle.hq {
    top: 120px;
    left: 430px;
}
.circle.usa {
    top: 135px;
    right: 235px;
}
.circle.jp {
    top: 120px;
    left: 470px;
}
.circle.ch {
    top: 162px;
    left: 412px;
}
.circle.uk {
    top: 65px;
    left: 30px;
}

.name-wrap {
    position: relative;
    width: 260px;
    font-size: 18px;
}
.name {
    position: absolute;
}
.name a:hover {
    font-weight: 600;
}
.hq {
    top: 120px;
    left: 430px;
}
.hq .name {
    top: -28px;
    left: -30px;
    color: #eee;
}
.usa .name {
    top: -24px;
    left: 16px;
    color: #ccc;
}
.jp .name {
    top: 4px;
    left: 18px;
    color: #333;
}
.ch .name {
    top: -20px;
    left: -92px;
    color: #ccc;
}
.uk .name {
    top: -7px;
    left: -70px;
    color: #333;
}
.card {
    position: relative;
    display: inline-block;
    width: 536px;
    height: 316px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    text-align: left;
    box-sizing: border-box;
    padding: 23px 25px;
    margin: 0 8px;
}

.card em {
    font-size: 32px;
}
.card img-wrap {
    overflow: hidden;
}
.card img {
    position: absolute;
    right: 35px;
    bottom: 97px;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 170px;
}

.card .state-btn {
    position: absolute;
    left: 25px;
    bottom: 23px;
    display: inline-block;
    width: 235px;
    line-height: 60px;
    text-align: center;
    color: #101010;
    border: 1px solid #ccc;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: inherit;
}
.card .state-btn:hover,
.card .suggest-btn:hover {
    font-weight: 600;
}
.card .suggest-btn {
    position: absolute;
    right: 25px;
    bottom: 23px;
    display: inline-block;
    width: 235px;
    line-height: 60px;
    text-align: center;
    background-color: #333;
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
    font-size: inherit;
}

.coop-wrap {
    margin-top: 100px;
}
.coop-img-wrap {
    display: inline-block;
    width: 100px;
    margin: 12px;
}

.coop-img-wrap img {
    max-width: 100px;
    width: auto;
    height: auto;
}